<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JohnnyGuru</title>
    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/css/all.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/css/simple-line-icons.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/css/slick.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/css/animate.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/css/magnific-popup.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/css/style.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/css/johnny.css" type="text/css" media="all">

</head>

<body class="dark">

    <div class="container">    
            @RenderBody()
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Johnny M. - <a class="linkedin-footer" href="https://www.linkedin.com/in/johnny-morales-2440941a6/">LinkedIn</a>
        </div>
    </footer>

    <!-- SCRIPTS -->

    <script src="~/js/jquery-1.12.3.min.js"></script>
    <script src="~/js/jquery.easing.min.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/isotope.pkgd.min.js"></script>
    <script src="~/js/infinite-scroll.min.js"></script>
    <script src="~/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/contact.js"></script>
    <script src="~/js/validator.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/morphext.min.js"></script>
    <script src="~/js/parallax.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
