
.vs/JohnnyGuru/DesignTimeBuild/.dtbcache.v2
.vs/JohnnyGuru/v17/.futdcache.v1
.vs/JohnnyGuru/v17/.suo
.vs/JohnnyGuru/v17/.suo
obj/Debug/netcoreapp3.1/JohnnyGuru.csproj.AssemblyReference.cache
*.v2
*.v1
.vs/JohnnyGuru/v17/.suo
